.feature-box{
    // border: 1px solid blue;
    padding: 20px;
    text-align: center;

    h2{
        font-weight: normal;
        margin-top: 10px;
    }

    p{
        font-size: .9rem;
        margin-top: 20px;
    }
}