.masks{
    // position: relative;
    width: 100%;
    height: auto;
    .mask{
        width: 100%;
        margin-top: 100px;
        justify-content: space-around;
        display: flex;
        // top: 0;
        // left: 0;
        // position: absolute;
    
        img{
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 1240px){
            img{
                max-width: 400px;
                height: 100%;
            }
        }

        @media (max-width: 940px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 460px){
            img{
                width: 100%;
            }
        }
    }

}

#mask-1-app, #mask-2-app{
    display: none;
}
.show{
    display: flex !important;
}