.masks{
    // position: relative;
    width: 100%;
    height: auto;
    .mask{
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        // top: 0;
        // left: 0;
        // position: absolute;
    
        img{
            max-width: 100%;
            height: auto;
        }
    }

}

#mask-1-app, #mask-2-app{
    display: none;
}
.show{
    display: flex !important;
}