.play-btn{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;

    &:hover{
        border-bottom: 1px solid white;
    }
}

.easy{
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 20px;
    color: white;
}

.white-btn{
    background-color: white;
    color: $blue;
    font-size: 1.4rem;
    padding: 12px 70px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid white;

    &:hover{
        background-color: rgb(224, 221, 221);
        border: 1px solid $blue;
    }
}