.video-silent-wrapper{
    margin-top: 100px;
    max-width: 800px;
    // height: 100%;
    padding: 200px;
    // border: 1px solid snow;
    position: relative;
    cursor: pointer;

    video{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    @media (max-width: 430px){
        padding: 100px;
    }
}
